# Ignora el historial de Git y archivos locales innecesarios
.git
.gitignore
.gitattributes

# Ignora entornos locales (esto es obligatorio)
venv/
.venv/
env/
__pycache__/

# Ignora archivos de configuración local (Solo si NO los necesita el contenedor)
.env
.vscode/
archive/
data/
*.log

# IMPORTANTE: NO ignores pyproject.toml, ni Dockerfile, ni requirements.txt
# Estos son vitales para el despliegue.