# Secretos
.env
config/*.json
claves-gcp.json
credentials.json

# Entornos y Caché
venv/
.venv/
env/
**/__pycache__/
*.py[cod]

# IDE y Configuración local
.vscode/
.DS_Store

# Datos y logs
archive/
data/
*.log

# Binarios de terceros (descargar aparte, ver README)
bin/cloud-sql-proxy.exe