fastapi
uvicorn
google-cloud-storage
google-cloud-logging
google-cloud-aiplatform[reasoningengine,langchain]
python-dotenv
pydantic
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-google-cloud-trace
langgraph
cloudpickle
