fastapi
uvicorn
google-cloud-logging
google-cloud-storage
vertexai
python-dotenv
pydantic
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-gcp-trace
firebase-admin
langgraph
langchain-google-vertexai