cloudpickle==3.0.0
langchain>=0.2.0
langgraph
langchain-core
langchain-google-vertexai
google-cloud-aiplatform[reasoningengine,langchain]
pydantic<3.0.0
google-cloud-storage
google-cloud-bigquery
google-cloud-firestore
google-cloud-discoveryengine
python-dotenv
opentelemetry-api
opentelemetry-sdk